<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Documentation</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

        * {
            font-family: 'Merriweather Sans', sans-serif;
        }

        h1 {
            border-bottom: 15px solid rgb(80, 80, 80);
            padding-bottom: 20px;
            color: rgb(73, 73, 73);
        }
    </style>
</head>

<body>
    <h1>
        <%=item %>
    </h1>

    <div id="contents">
        <img src="<%= path %>/Timer.jpg" alt="Timer">
        <img src="http:\\10.1.10.233\shared\company\IT\Photo Documentation\WOM\6 - Michigan Ave - 2797">
    </div>

</body>

</html>